/svastha/bin
/svastha/obj
/svastha/pkg
/WebServer/bin
/WebServer/obj
/WebServer/pkg
/WebServer/ClientApp/dist
/WebServer/ClientApp/node_modules
/.vs
/svastha/PublishProfiles/Cloud.xml
/packages
/ProxyProvider/bin
/ApiService/bin
/ProxyProvider/obj
/ApiService/obj