/* You can add global styles to this file, and also import other style files */
body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("assets/images/wearables.jpg");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(79%);
    text-align: center;
}
.sv_lead {
    color: #3c8d7a;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding-top: 0.5em;
}

.sv_sub_lead
{
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #000;
}

.btn-demo
{
    text-align: center;
}